.lenta1 {
    width: 660px;
    height: 660px;
}

.lenta1 div, .row > div{
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    float: left;
    border: 1px solid black;
    font-size: 2em;
    background: lightgray;
}

.lenta1 div:nth-child(2n) {
    background: white;
}

.lenta1 div:nth-child(4n+2) {
    background: deepskyblue;
}

.lenta1 div:nth-child(4n+4) {
    background: darkseagreen;
}

.lenta1 div:nth-child(2n+16) {
    background: pink;
}


.lenta2 {
    display: inline-block;
}